<h1>{{title}}</h1>
<table>
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Status</td>
    </tr>
    {{#each todos}}
    <tr>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>{{status}}</td>
    </tr>
    {{/each}}
</table>