<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>
<body>
    <header>Tareas App</header>
    <main>
        <div class="content">
            {{!-- contenido --}}
            {{{body}}}
        </div>
    </main>
    <footer>
        <span>&copy; ITESO 2023</span>
    </footer>
</body>
</html>